version: 2.1

jobs:
  build:
    docker:
      - image: golang:latest

    working_directory: /go/src/github.com/Tiantsoa79/cc-d4-rice-cooker-ci-Tiantsoa79


    steps:
      - checkout

      # Install dependencies
      - run:
          name: Install dependencies
          command: go mod download

      # Linting with golint
      - run:
          name: Run linter
          command: go install golang.org/x/lint/golint && golint ./...

      # Run tests
      - run:
          name: Run tests
          command: go test ./...

workflows:
  version: 2
  build:
    jobs:
      - build
